:root {
    --PrySoft-orange: hsl(35, 77%, 62%);
    --PrySoft-red: hsl(5, 85%, 63%);
    --NeutralOff-white: hsl(36, 100%, 99%);
    --NeutralGrayish-blue: hsl(233, 8%, 79%);
    --NeutralDark-grayish-blue: hsl(236, 13%, 42%);
    --NeutralVery-dark-blue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: none;
}

section {
    margin-bottom: 24px;
}

.menus {
    display: block;
    z-index: 2;
}

.mobile-image,
.close {
    display: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.homepage {
    width: 90vw;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 60px;
    margin-bottom: 24px;
}

.logo img {
    height: 30px;
}

.desktop-image {
    width: 100%;
    object-fit: cover;
}

.web-section {
    margin: 12px 0;
}

.desktop-image,
.bright,
.dive {
    margin-bottom: 12px;
}

.bright {
    font-weight: 900;
    font-size: 38px;
}


.mobile-nav {
    display: none;
}


.mobile-image {
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

.read-more {
    padding: 6px 15px;
    font-weight: 500;
    background-color: var(--PrySoft-red);
    border: none;
    color: var(--NeutralOff-white);
    margin: 6px 0;
    cursor: pointer;
}

.news-section {
    background-color: var(--NeutralVery-dark-blue);
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
}

.new {
    color: var(--PrySoft-orange);
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
    border-bottom: 1px solid var(--NeutralOff-white);
    padding: 1.3rem 0;
}

.news:last-child {
    border-bottom: none;
}

.news-header {
    color: var(--NeutralOff-white);
}

.news-text {
    color: var(--NeutralDark-grayish-blue);
    flex-shrink: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .tech {
    display: flex;
    gap: 20px;

}

.tech img {
    object-fit: cover;
    display: block;
    height: 130px;
}

.tech-news {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.para {
    line-height: 1.6;
}

@media only screen and (max-width: 375px) {
    body {
        padding: 0 12px;
    }

    .homepage {
        width: 100%;
        min-width: 280px;
    }

    .mobile-nav {

        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        background-color: var(--NeutralOff-white);
        min-height: 100vh;
        width: 100%;
        padding-top: 120px;
        z-index: 1;
        transition: 2s;
    }

    .mobile-nav.is-active {
        left: 120px;
    }

    .mobile-nav li {
        display: block;
        text-transform: capitalize;
        font-weight: 700;
        width: 100%;
        max-width: 100px;
        margin-bottom: 24px;
        padding-left: 22px;
        text-align: left;
        font-size: 22px;
    }


    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        object-fit: cover;
        height: auto;
        max-height: 337px;
    }

    .bright {
        font-size: 2.6rem;
        margin-top: 20px;

    }

    .read-more {
        width: 100px;
        min-width: 96px;
    }
}


@media only screen and (min-width: 820px) and (max-width: 1440px) {

    .menus,
    .mobile-image {
        display: none;
    }

    .header li {
        display: inline-block;
        margin-right: 12px;
        cursor: pointer;
        color: var(--NeutralDark-grayish-blue);
    }

    .homepage {
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto auto;
        gap: 20px;
    }


    .header {
        grid-area: 1 / 1 / 1 /4;

    }

    .web-section {
        grid-area: 2 / 1 / 2 /3;
        margin: 0;
    }

    .web-section .content {
        display: flex;
        gap: 40px;
    }


    .read-more {
        margin-top: 24px;
    }

    .news-section {
        grid-area: 2/3/2/4;
    }

    .footer {
        padding-top: 50px;
        grid-area: 3/1/ 3 /4;
        flex-direction: row;
        justify-content: space-between;
    }

}